
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'vostela';
  src: url('../fonts/vostela/VOSTELA.ttf') format('truetype'),
       url('../fonts/vostela/VOSTELA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maglisto';
  src: url('../fonts/maglisto/Maglisto.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f1f0f0;
  background-image: url("../images/background-monet-image.jpg");
  
}

.navbar {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;              
  justify-content: space-between;   
  padding: 0 30px;                  
  z-index: 100; 
  height: 60px;                   
  gap: 0px;                       
}

.nav-item {
  position: relative;
  z-index: 100; 
}

.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
} 

.logo {
  height: 90px;
  width: auto;
}

.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;                    
}

.nav-center > .nav-item {
  margin: 0;
  height: 100%; 
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.social-link img {
  width: 32px;
  height: 32px;
  transition: transform 0.2s;
}

.social-link-x img {
  width: 28px;
  height: 28px;
  transition: transform 0.2s;
}

.social-link img:hover,
.social-link-x img:hover {
  transform: scale(1.2);
}

.nav-link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  padding: 20% 18px; 
  text-decoration: none;
  display: flex;                
  align-items: center;          
  justify-content: center;
  transition: background 0.3s;
  white-space: nowrap;
  width: auto;
  height: 100%;                   
  box-sizing: border-box;         
  border-radius: 0;             
}

.nav-link:hover {
  background-color: rgb(35, 186, 197);
  color: rgb(255, 255, 255);
}

.nav-link.active-link {
     background-color: #f0f0f0;
     font-weight: bold;
     color: rgb(35, 186, 197);
}

.navbar .nav-center .dropdown .sub-dropdown .active-link {
    background-color: #f0f0f0;
    font-weight: bold;
    color: rgb(35, 186, 197);
}

.dropdown,
.sub-dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 180px;
  z-index: 100;
}

.dropdown {
  top: 100%;
  left: 0;
}

.sub-dropdown {
  top: 0;
  left: 100%;
}

.dropdown a,
.sub-dropdown a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  transition: background 0.3s;
}

.dropdown a:hover,
.sub-dropdown a:hover {
  background-color: rgb(35, 186, 197);
  color: rgb(255, 255, 255);
}

.nav-item:hover .dropdown {
  display:  block ;
}

.dropdown-item {
  position: relative;
}

.dropdown-item:hover .sub-dropdown {
  display: block;
}


.sidebar-widget {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-title {
    font-family: 'vostela', serif;
    font-size: 1.6em;
    color: #1e1e1e;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(35, 186, 197); 
    display: inline-block;
}

.about-widget-text {
    font-family: Arial, sans-serif;
    font-size: 0.95em;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.widget-read-more {
    text-decoration: none;
    font-weight: bold;
    color: rgb(35, 186, 197);
    transition: letter-spacing 0.2s;
}

.widget-read-more:hover {
    letter-spacing: 0.5px;
}

.most-read-widget {
    display: flex;
    gap: 15px;
    align-items: center;
}

.most-read-widget img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
}

.most-read-widget .most-read-title {
    font-family: 'vostela', serif;
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    line-height: 1.4;
    transition: color 0.2s;
}

.most-read-widget .most-read-title:hover {
    color: rgb(35, 186, 197);
}

.container-content {
  background-image: url('../images/index/background-monet-image.jpg');
  background-color: #f1f0f0;
  padding: 35px; 
  position: relative;
  flex-wrap: wrap;
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start;
  z-index: auto;
  gap: 30px;
  
}

.main-container{
    background-image: url('../images/index/background-monet-image.jpg');
    padding-bottom: 35px;
}