body {
  font-family: Arial, sans-serif;
  background-color: #f1f0f0;
  background-image: url("../images/index/background-monet-image.jpg");
}


.about-page-container {
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: calc(100vh - 270px); 
}

.about-card {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 5%;
    max-width: 1000px;
    width: 100%;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.07);
    box-sizing: border-box;
}

.about-image {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #f0f0f0;
    transition: transform 0.3s ease;
}

.about-image img:hover{
    transform: scale(1.05); 
}

.about-text {
    flex-grow: 1;
}

.about-text h1 {
    font-family: 'vostela';
    font-size: 2.8em;
    color: #1e1e1e;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(35, 186, 197); 
    display: inline-block; 
}

.about-text h2 {
    font-family: 'vostela';
    font-size: 1.5em;
    color: #555;
    margin-bottom: 25px;
    font-weight: 600;
}

.about-text p {
    font-family: 'maglisto'; 
    font-size: 1.1em; 
    line-height: 1.7; 
    color: #333; 
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-card {
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }

    .about-image {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .about-text h1 {
        font-size: 2.2em;
        display: block;
        text-align: center;
    }

    .about-text h2 {
        font-size: 1.3em;
    }
}